body {
    background-color: #f8f9fa; /* Hafif gri arka plan */
    display: flex;
    background-image: url('/img/map-banner');
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Sayfanın dikeyde ortalanması için */
}
.card {
    border: none; /* Kart kenarlığını kaldır */
    border-radius: 1rem; /* Daha yuvarlak köşeler */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Hafif gölge */
    max-width: 500px; /* Kartın maksimum genişliği */
    width: 100%;
}
.card-header {
    background-color: #007bff; /* Mavi başlık */
    color: white; /* Beyaz metin */
    border-bottom: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.75rem; /* Başlık font büyüklüğü */
    font-weight: 500;
}
.card-body {
    padding: 2rem;
}
.form-label {
    font-weight: 500;
    color: #495057;
}
.form-control, .btn {
    border-radius: 0.5rem; /* Form kontrolleri ve butonlarda hafif yuvarlak köşeler */
}
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    width: 100%; /* Butonu tam genişlik yap */
    padding: 0.75rem;
    font-size: 1.1rem;
}
.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
